body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

/* body::-webkit-scrollbar{
  width: 5px;
} */
#root {
  min-width: 1440px;
  width: 100%;
  overflow: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* FONT FAMILY */

  /* - UTM-Avo */
@font-face {
  font-family: UTMAvo;
  src: url(fonts/UTMAvo.ttf)format('truetype');
}
@font-face {
  font-family: UTMAvoBold;
  src: url(fonts/UTMAvoBold.ttf)format('truetype');
}

/* - Lato */
@font-face {
  font-family: LatoBlack;
  src: url(fonts/LatoBlack.ttf)format('truetype');
}
@font-face {
  font-family: LatoBold;
  src: url(fonts/Lato-Bold.ttf)format('truetype');
}
/* - BelindaScript */
@font-face{
  font-family: BelindaScript;
  src: url(fonts/BelindaScript.ttf)format('truetype');
}

p{
  margin: 0;
}